*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    width: 100%; /* Que tan largo va a ser este contenedor */
    height: 500px;
    border: 10px solid grey;
    padding: 20px 35px;    
}

